@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');
h1, h2, h3{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
}
body {
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
}
a:not([class]){
    background-image: none;
}