$link-color: #AA1111;
$btn-primary-color:#AA1111;

$body-background-color:  #FFFFFF;
$sidebar-color: #EBEBEB;
$body-text-color:  #212529;
// $feedback-color: #111111;
$body-heading-color: #111;
$code-background-color:  rgb(245, 245, 245);
